<h1>About Angelstow</h1>

<p>Angelstow is a next generation container stowage tool.</p>

<p>Apart from supporting standard stowage tool features (scan plan editing and printing, EDI import/export, stability and stress calculations, DG rules checking and more), it also includes integrated lashing calculations, available position identification and more.</p>

<p>It is modular in design and can be extended with commercial modules such as Master Planning.</p>

<p>It is currently freeware and will in due time be available as open source software.</p>

<p>The software is provided by Ange Optimization, see http://ange.dk/main/angelstow for more information.</p>
